*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #2196f3;
}

.game {
    background-color: #eee;
    min-height: 100vh;


}

.container {
    margin: auto;
    max-width: 900px;

}

.name{
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.message {
    background-color: white;
    padding: 20px;
    margin: 15px 0;
    text-align: center;
    border-radius: 6px;
}
.message span{
    font-weight: bold;
    color: teal;
}
.message span::after{
    content: " ]";
}
.message span::before{
    content: "[ ";
}
.start {
    padding: 20px;
    background-color: #009688;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 10px;
   
}
.the-word {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: var(--main-color);
    user-select: none;
}
.input {
    margin: 15px 0;
    width: 100%;
    display: block;
    padding: 20px;
    border: 3px solid var(--main-color);
    text-align: center;
    text-transform: capitalize;
    border-radius: 6px;
    caret-color: var(--main-color);
}
.input:focus {
    outline: none;
}
.upcoming-words {
    justify-content: center;
    background-color: white;
    display: flex;
    padding: 20px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.upcoming-words div {
    color: white;
    background-color: var(--main-color);
    margin: 4px;
    font-weight: bold;
    padding: 10px;
}

.control {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px;
}

.control span {
    font-weight: bold;
    color: teal;
}
.finish{
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
.finish .good {
    color: var(--main-color);
}
.finish .bad {
    color: red;
}